BasedOnStyle: GNU 
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: Align 
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AlignFunctionPointers: false
  AcrossComments: false
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
  AlignCaseArrows: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakTemplateDeclarations: true
BinPackArguments: false
BitFieldColonSpacing: After
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon 
BreakStringLiterals: true
CompactNamespaces: false
Cpp11BracedListStyle: false
FixNamespaceComments: true
IncludeBlocks: Preserve
InsertTrailingCommas: Wrapped
